/*

!/.gitignore

!/configs/
!/configs/**

!/dataset/
!/dataset/**

!/environment.yml
!/extract_smpl_parameters.py

!/gaussian_renderer/
!/gaussian_renderer/**

!/human_body_prior/
!/human_body_prior/**

!/models/
!/models/**

!/preprocess_datasets/
!/preprocess_datasets/**

!/prune_model.py
!/render.py

!/scene/
!/scene/**

!/submodules/
!/submodules/**

!/train5d_mars.py

!/utils/
!/utils/**

!/README.md
!/LICENSE

__pycache__/
*.pyc
*.log
wandb/
